{% extends '_base.html' %} {% block content %}

<h1>Make Observation on {{ site }}</h1>

{% if error_message %}
<p>
  <strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'obs:observe' site.id %}" method="post">
  {% csrf_token %} {% for observation in site.observation_set.all %}
  <input
    type="text"
    name="observation"
    id="observation{{ forloop.counter }}"
    value="{{ observation.id }}"
  />
  <label for="observation{{ forloop.counter }}">{{ observation.data }}</label
  ><br />
  {% endfor %}
  <input type="submit" value="Observe" />
</form>
{% endblock %}
