<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frontend Vue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
<div id="app" class="container">
    <div>
        <h1>[[ heading ]]</h1>
        <h3 v-if="authUser"><span style="color: green">AUTHORIZED</span></h3>
        <h3 v-if="!authUser"><span style="color: red">NOT AUTHORIZED</span></h3>
    </div>
    <div v-if="!loading">
        <h3>Projects for [[ authUser.full_name ]]</h3> 
        <p v-for="item in authUser.user_projects" v-bind:key="item.id"><b>[[ item.project_name ]]:</b> [[ item.user_status ]]</p>

        <h4>Default Project: [[ project ]]</h4>
        <p>CSRF: <span style="color: blueviolet">[[ csrf ]]</span></p>
        <button @click="getData">Get data</button>
        <p>My data: [[ mydata ]]</p>

    </div>
    <div>
        <form @submit.prevent="postObs">
            File 1<input type="file" @change="selectPic1"><br>
            File 2<input type="file" @change="selectPic2"><br>
            Caption <input type="text" v-model="caption"><br>
            Number <input type="number" v-model="number"><br>
            Date <input type="date" v-model="date"><br>
            <p>Are you sure etc.</p>
            <button class="btn btn-dark btn-lg">submit</button>
        </form>
     <button @click="check" class="btn btn-info btn-lg">check refs</button>
    </div>
</div>

<script>

    const store = new Vuex.Store({
        state: {
            // USER
            authUser: null,
            // isAuthenticated: true,
            // PROJECT
            project: null,

            site: {
                id: 1071,
                sitename: "Red Willow Pond",
            },
            observation: {
                obsType: {
                    id: null,
                    name: "",
                },
                kv: {},
                inOutbox: false,
                entered: false,
            },
            outbox: [1, 3, 5],
            inbox: [1, 2],
        },
        getters: {
            authUser: (state) => {
                return state.authUser;
            },
            project: (state) => {
                return state.project;
            },
            site: (state) => {
                return state.site;
            },
            observation: (state) => {
                return state.observation;
            },
        },
        mutations: {
            SET_AUTH_USER(state, authUser) {
                Vue.set(state, "authUser", authUser);
                // Vue.set(state, 'isAuthenticated', isAuthenticated)
            },
            SET_PROJECT(state, project) {
                Vue.set(state, "project", project);
            },
            SET_SITE(state, site) {
                Vue.set(state, "site", site);
            },
            SET_OBSERVATION(state, observation) {
                Vue.set(state, "observation", observation);
            },
            LOGOUT(state, authUser) {
                Vue.set(state, "authUser", null);
                Vue.set(state, "project", null);
            },
        },
        actions: {
            setAuthUser({ commit }, authUser) {
                commit("SET_AUTH_USER", authUser);
                commit("SET_PROJECT", authUser.default_project);
            },
            setProject({ commit }, project) {
                commit("SET_PROJECT", project);
            },
            setSite({ commit }, site) {
                commit("SET_SITE", site);
            },
            setObservation({ commit }, obj) {
                commit("SET_OBSERVATION ", obj);
            },
            logout({ commit }) {
                return new Promise((resolve) => {
                    commit("LOGOUT");
                    // MAY NEED THIS
                    // delete axios.defaults.headers.common['Authorization']
                    resolve();
                });
            },
        },
    });
  

new Vue({
  el: "#app",
  delimiters: ["[[", "]]"],
  data() {
    return {
      loading: true,
      pic1: null,
      pic2: null,
      number: null,
      caption: '',
      date: null,
      heading: "Vue/Django experiments",
      mydata: '',
      
        }
    },
  computed: {
      
    authUser() {
      return store.getters.authUser;
    },
    csrf() {
      return Cookies.get("csrftoken");
    },
    project() {
      return store.getters.project;
    },
    site(){
        return store.getters.site
    }
  },
  methods: {
    getAuthUser() {
      axios.get("/api/auth-user/")
        .then(response => {
          store.dispatch("setAuthUser", response.data);
          this.loading=false
        })
        .catch(error => {
          console.log("Request failed", error);
          this.loading=false
        })
    },
    getData(){
        axios.get('api/projects/7').then(response => {
            this.mydata = JSON.stringify(response.data)
          })
    },
    postObs(){
        let fd = new FormData
        fd.append('pic1', this.pic1)
        fd.append('pic2', this.pic2)
        fd.append('observer', this.authUser.id)
        fd.append('site', 1071)
        fd.append('obs_type', 31)
        fd.append('project', 1)
        fd.append('caption', this.caption)
        fd.append('number', this.number)
        fd.append('date', this.date)
        axios({
            method: 'POST',
            url: 'api/observations/',
            headers: {
                "X-CSRFToken": this.csrf,
                },
            data: fd
          })
        .then(data => {
                console.log(data)
            })
        .catch(error => {
           console.error(error)
        })
    },
    check(){
        
        console.log(this.fd)

    },
    postProject(){
        axios({
            method: 'POST',
            url: 'api/projects/',
            headers: {"X-CSRFToken": this.csrf},
            data: this.proj
          })
        .then(data => {
                console.log(data)
            })
        .catch(error => {
           console.error(error)
        })
    },
    onFileSelected (event) {
        this.FILE = event.target.files[0]
        console.log(this.FILE)
    },
    selectPic1 (event) {
        this.pic1 = event.target.files[0]
    },
    selectPic2 (event) {
        this.pic2 = event.target.files[0]
    },
    onSubmit() {
        console.log('onSubmit fired')
        const formData = new FormData()
        formData.append('file', this.FILE)
        axios({
            method: 'POST',
            url: 'api/upload/',
            headers: {"X-CSRFToken": this.csrf},
            data: formData
          })
        .then(data => {
                console.log(data)
            })
        .catch(error => {
           console.error(error)
        })
    }  
  },
  mounted() {
      this.getAuthUser()
  }
});
    
</script>
    </body>
</html>